Extension State/
GCM Store/
GPUCache/
Login Data
Media Cache/
Network Action
QuotaManager
Session Storage/
Top Sites
Visited Links
Web Data
data_redution_proxy_leveldb
Safe Browsing Cookies
File System/
Thumbnails/
*.txt
